* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}

body {

	background-color: #006cb5;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {

	width: 150px;

}

.container {

	background-image: url(./assets/TEL.jpg);


	width: 500px;
	padding: 30px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #003b5b;
}

h4 {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 24px;
	color: greenyellow;
}

input,
select {


	border-radius: 6px;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}




option,
select,
input {
	color: grey;
	/* Cor do texto */
}



textarea {
	width: 100%;
	padding: 10px;

}

label {
	color: white;
}

#enviar.ocultar {
	display: none;
}


#submit {
	border: none;
	background-color: rgb(44, 167, 44);
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}

#submit:hover {
	background-color: #044720;
}